<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" /> 
  </head>
  <body>

<title>Wehrlegig Games</title>

{% block nav %}
{% load socialaccount %}
<header>
  <nav id="nav">
    {% with app_name=request.resolver_match.app_name %}
    <li><a {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %} href="/">Home</a></li>
    <li><a {% if app_name == 'products' %}class="active"{% endif %} href="/products/">Products</a></li>
    {% if user.is_authenticated %}
        <p>{{ user.username }}
        <p><a href="{% url 'account_logout' %}">Log out</a>
    {% else %}
        <p><a href="{% url 'account_signup' %}">Sign Up</a></p>
        <p><a href="{% url 'account_login' %}">Log In </a></p>
        <p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
    {% endif %}
    {% endwith %}
  </nav>
</header>
{% endblock %}

    <main>
    {% block content %}{% endblock %}
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

</html>
